@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap");

html {
    background-color: rgb(248, 248, 245)
}

body {
    font-family: "Montserrat";
    font-weight: 500;
    width: 40rem;
    height: 24rem;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;

    /* Код для тени */
    background-color: Snow;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(46, 46, 46);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 1rem;
}

.userInput {
    display: flex;
    flex-direction: row;
    gap: 3px;

    border: 3px solid rgb(255, 31, 31);
    border-radius: 6px;
    background-color: rgb(255, 31, 31);

    margin-bottom: 1rem;
}

.userInput input {
    width: 23.5rem;

    outline: none;
    border: none;
    background-color: rgb(248, 248, 245);
    color: rgb(92, 92, 92);

    font-weight: 700;
}

.userInput img {
    width: 1.3rem;
    height: 1.3rem;
}

form {
    width: 25rem;
    height: 4.6rem;
    margin-left: auto;
    text-align: left;
    margin-right: auto;


    background-color: rgb(92, 92, 92);

    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 6px;
    padding: 1.5rem;
}

.warning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: small;
    gap: 4px;
}

form button {
    margin-top: 3rem;
    margin-bottom: 2rem;
    align-self: center;

    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    width: 28.5rem;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: white;

    background: rgb(92, 92, 92);
    transition: background-color 0.3s;
    cursor: pointer;
}

form button:hover {
    background: rgb(255, 31, 31);
}

.redirection {
    text-decoration: underline;
    color: rgb(46, 46, 46);
    transition: 0.6s;
}

.redirection:hover {
    color: rgb(255, 31, 31);
}

.header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* Заголовок влево, кнопки вправо */
    width: 100%;
    height: 100px;
}

.icon_button {
    margin-left: 20px;
    width: 73px;
    max-height: 40px;
    height: 100%;
    border: none;
    background-image: url("../images/iconsreg/mybiglogo.png");
    background-position: top center;
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.icon_button:hover {
    opacity: 0.8;
}

.icon_button:active {
    transform: scale(0.95);
}

h1 {
    margin-right: 32.5%;
}
